*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: bolder;
}

body{
    background: rgb(207, 207, 207);
}

a{
    color: #ffff;
    font-weight: 900;
    text-decoration: none;
}

#Header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    background: #fff;
    padding-top: 1em;
    padding-bottom: 2em;
    border-bottom: 10px solid #0000;
}

#Header > h1{
    margin-left: 25px;
}

#Header > img{
    border: solid 5px #ffff;
}

#Nav{
    width: 100%;
    border-top: solid 2px #ffff;
    border-bottom: 2px solid rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
}

#Nav > ol{
    list-style: none;
    display: flex;
}

#Nav > ol > li{
    margin: 0px;
    padding: 10px;
    transition: 0.3s;
    border-left: solid 2px rgba(255, 255, 255, 0.219);
}

#Nav > ol > li:hover{
    color: #0000;
    background: rgba(255, 255, 255, 0.342);
}

#Main{
    margin: 0 auto;
    padding-top: 2em;
    width: 90%;
    padding-bottom: 20em;
    background: rgb(243, 243, 243);
}

#Main a{
    color: #000;
}

#Main .homework-list{
    margin-left: 20px;
}

#Main ol{
    margin-left: 2em;
}

#Footer{
    color: #ffff;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 0px;
    background-color: rgb(34, 34, 34);
}

.active{
    color: #000;
    background: #ffff;
}

.imagen-titulo{
    align-items: center;
    
    display: flex;
    margin-bottom: 20px;
}

.imagen-titulo > img{
    border: solid 2px #000;
}

.imagen-titulo > p{
    margin-left: 20px;
}

.titulo2{
    font-size: 30px;
    font-weight: bold;
}

.centrada{
    text-align: center;
}

.imagen-redonda2{
    border-radius: 360px;
}

@media only screen and (max-width: 800px){
    #Main{
        margin: auto;
        width: 100%;
    }

    #Nav{
        text-align: center;
        border-top: solid 2px #ffff;
        border-bottom: solid 2px #ffff;
    }

    #Nav ol{
        display: block;
        list-style: none;
    }
}